.favorites {
    display: flex;
    flex-wrap: wrap; /* позволяет элементам переноситься на новую строку */
    justify-content: flex-start; /* элементы идут один за другим без дополнительного пространства между ними */
    margin: 0 auto; /* центрирует контейнер на странице */
    max-width: 1200px; /* максимальная ширина контейнера */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.recieptFav {
    flex: 0 0 calc(16.66% - 20px); /* Ширина одного рецепта, чтобы 6 рецептов уместилось в одной строке. 20px учитывает возможные отступы между элементами */
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: transform 0.3s ease;
    flex-basis: calc(100% / 6); /* каждый рецепт занимает 1/6 доступной ширины */
    box-sizing: border-box; /* чтобы учесть padding и border */
    overflow: hidden; /* чтобы скрыть контент, который не умещается */
}

.recieptFav:hover {
    transform: scale(1.05);
}

.recieptTextFav {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0; /* убираем любые дополнительные отступы */
    max-width: 100%; /* ограничиваем ширину текста */
}

.recieptImageFav {
    max-width: 100%;
    border-radius: 15px;
}

.deleteBtn {
    font-size: 18px;
    color: white;
    background-color: #ff6347;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;  /* изменили на block */
    margin: 20px auto; /* автоматический отступ с обеих сторон для центрирования */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.deleteBtn:hover {
    background-color: #dc143c;
}
